body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0px;
}

.section-1 {
    background-color: rgb(40, 40, 90);
    padding-left: 5%;
    padding-right: 5%;
}

.section-1-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.section-1-header a {
    color: azure;
}

.section-1-header .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:25%;
}

.section-1-header .logo {
    font-weight: 800;
    font-size: 18px;
    color: azure;
    flex-wrap: wrap;
}

.first {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.first .left {
    margin-top: 15px;
    margin-right: 10px;
    width: 50%;
    min-width: 250px;

}

.first .right {
    margin-top: 15px;
    width: 40%;
    min-width: 250px;
    display: flex;
    justify-content: center;
}

.first img {
    width: 300px;
    height: 300px;
}

.first .logo {
    font-weight: 800;
    font-size: 36px;
    color: azure;
}

.first p {
    font-size: 18px;
    color: azure;
    flex-wrap: wrap;
}

.first button {
    background-color: blue;
    padding: 12px;
    border-radius: 8px;
    border: 0px;
    color: white;
    font-size: 18px;
}

.section-2-header {
    font-size: 48px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.second {
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.section-2 img {
    border: 2px solid rgb(100,100,255);
    border-radius: 20px;
    width: 229px;
    height: 229px;
}

.section-2 .text {
    text-align: center;
    padding-bottom: 100px;
    max-width: 229px;
}

.section-3 {
    background-color: rgb(200, 200, 200);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.section-3 p {
    font-size: 32px;
    font-style: italic;
}

.section-3 h3 {
    text-align: right;
    padding-right: 25px;
}

.section-4 {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(100,100,255);
    display: flex; 
    justify-content:space-evenly;  
}

.section-4 .left {
    color: aliceblue;
}

.section-4 .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-4 button {
    border-color: aliceblue;
    border-style: solid;
    border-radius: 15px;
    color: aliceblue;
    background-color: rgb(100,100,255);
    font-size: 24px;
    padding: 10px;
}

.footer {
    background-color: rgb(40, 40, 90);
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    padding: 25px;
}